workloads: {}
  #default:
  #  replicas: 1
  #  revisionHistoryLimit: 10
  #
  #  strategy:
  #    rollingUpdate:
  #      maxUnavailable: 1
  #      maxSurge: 1
  #    blueGreenUpdate:
  #      currentSlot: ""
  #      targetSlot: ""
  #      pastReplicas: 1
  #
  #  restartPolicy: Always
  #  imagePullSecrets:
  #    - name: registry
  #  volumes: []
  #  securityContext: {}
  #  serviceAccountName: ""
  #
  #  initContainers: {}
  #  containers:
  #    default:
  #      image: ""
  #      image:
  #        blue: ""
  #        green: ""
  #      command: []
  #      args: []
  #      restartPolicy: Always
  #      lifecycle: {}
  #      envFrom:
  #        configMaps: []
  #        secrets: []
  #      env: []
  #      volumeMounts: []
  #      resources:
  #        requests:
  #          cpu: 100m
  #          memory: 128Mi
  #        limits:
  #          cpu: 200m
  #          memory: 256Mi
  #      ports:
  #        - name: http
  #          containerPort: 8080
  #      probes:
  #        startup: {}
  #        readiness: {}
  #        liveness:
  #          httpGet:
  #            path: /_health
  #            port: http
  #          initialDelaySeconds: 10
  #      securityContext: {}
  #
  #  autoscaling:
  #    targetCPUUtilizationPercentage: 90
  #    replicas:
  #      min: 2
  #      max: 6
  #
  #  disruptionBudget:
  #    maxUnavailable: 1
  #    minAvailable: 1
  #
  #  networkPolicy:
  #    ingress:
  #      - ports:
  #          - port: http
  #        from:
  #          - namespaceSelector:
  #              matchLabels:
  #                kubernetes.io/metadata.name: networking
  #          - podSelector:
  #              matchLabels:
  #                app.kubernetes.io/instance: ingress-controller
  #
  #  service:
  #    annotations:
  #      service.kubernetes.io/topology-mode: Auto
  #    type: ClusterIP
  #    externalTrafficPolicy: Cluster
  #    ports:
  #      - name: http
  #        port: 80
  #        targetPort: http

cronJobs: {}
#  default:
#    schedule: "* * * * *"
#    startingDeadlineSeconds: null
#    concurrencyPolicy: Allow
#    suspend: false
#    successfulJobsHistoryLimit: 3
#    failedJobsHistoryLimit: 1
#    timeZone: "Etc/UTC"
#
#    completionMode: NonIndexed
#    completions: null
#    completions-1: null
#    parallelism: null
#    backoffLimit: null
#    backoffLimitPerIndex: null
#    maxFailedIndexes: null
#    podFailurePolicy: null
#    podReplacementPolicy: null
#    successPolicy: null
#    activeDeadlineSeconds: null
#    ttlSecondsAfterFinished: null
#  
#    restartPolicy: Always
#    imagePullSecrets:
#      - name: registry
#    volumes: []
#    securityContext: {}
#    serviceAccountName: ""
#
#    initContainers: {}
#    containers:
#      default:
#        image: ""
#        command: []
#        args: []
#        restartPolicy: Always
#        lifecycle: {}
#        envFrom:
#          configMaps: []
#          secrets: []
#        env: []
#        volumeMounts: []
#        resources:
#          requests:
#            cpu: 100m
#            memory: 128Mi
#          limits:
#            cpu: 200m
#            memory: 256Mi
#        securityContext: {}

configMaps: {}

# Don't add secrets here in version-controlled files, as they would be exposed!
# This object should only contain empty keys for documentation purposes.
secrets: {}

httpRoutes: []
#  - name: default
#    parentRefs:
#      - name: default
#    hostnames:
#      - example.org
#      - www.example.org
#    rules:
#      # default service (if there's only one) and port (80)
#      - matches:
#          - path:
#              value: /
#        backendRefs: [{}]
#      # default service (if there's only one)
#      - matches:
#          - path:
#              value: /foo
#        backendRefs:
#          - port: 81
#      # relative service ("<releaseName>-component")
#      - matches:
#          - path:
#              value: /bar
#        backendRefs:
#          - name: "@component"
#      # another service
#      - matches:
#          - path:
#              value: /another
#        backendRefs:
#          - name: another-service
#      # return 404
#      - matches:
#          - path:
#              value: /private

ingresses: []
#  - name: default
#    annotations: {}
#    className: public
#    hosts:
#      - name: example.org
#        path: /
#      - name: www.example.org
#        path: /
#    tlsSecretName: certificate-example-org
#    service:
#      name:
#      absoluteName:
#      port:

serviceAccounts: {}
#  - name: example
#    namespace: default

roleBindings: []
#  - name: "" # optional, uses the ref's name if not defined
#    namespaces: [] # empty to create cluster role bindings
#    ref:
#      kind: Role
#      name: example
#    subjects:
#      - kind: ServiceAccount
#        name: example
#        namespace: default
#    
#  - namespaces:
#      - default
#      - kube-system
#    ref:
#      kind: ClusterRole
#      name: view
#    subjects:
#      - kind: Group
#        name: system:masters

roles: []
#  - name: example
#    namespaces: [] # empty to create cluster roles
#    rules: []
