{{- range $role := .Values.roles }}
{{- if not (hasKey $role "namespaces") }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1

metadata:
  {{- if hasPrefix "@" $role.name }}
  name: "{{ $.Release.Name }}{{ if ne $role.name "@" }}-{{ trimPrefix "@" $role.name }}{{ end }}"
  {{- else }}
  name: "{{ $role.name }}"
  {{- end }}

  labels:
    app.kubernetes.io/instance: "{{ $.Release.Name }}"

rules: {{ toYaml $role.rules | nindent 2 }}
{{- end }}
{{- end }}
