{{- range $account := .Values.serviceAccounts }}
---
kind: ServiceAccount
apiVersion: v1

metadata:
  {{- if hasPrefix "@" $account.name }}
  name: "{{ $.Release.Name }}{{ if ne $account.name "@" }}-{{ trimPrefix "@" $account.name }}{{ end }}"
  {{- else }}
  name: "{{ $account.name }}"
  {{- end }}

  {{- $namespace := default $.Release.Namespace $account.namespace }}
  {{- if eq $namespace "@" }}
  namespace: "{{ $.Release.Namespace }}"
  {{- else }}
  namespace: "{{ $namespace }}"
  {{- end }}
  
  labels:
    app.kubernetes.io/instance: "{{ $.Release.Name }}"
{{- end }}
